*{
    padding: 0%;
    margin: 0%;
    
}
html{
    overflow-x: hidden;
}

/* header */
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(78, 43, 110);
    display: flex;
    position: relative;
}

.header:hover{
    height: 300px;
    background: linear-gradient(rgb(78, 43, 110),rgb(54, 54, 138));
}

.red{
    background-color: tomato;
}


.wrapper{
    width: 460px;
    margin-left: 10px;
    text-align: center;
    display: grid 3;
}

.wrapper ul{
    list-style: none;
}

.wrapper ul li{
    width: 120px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: black;
    font-size: 20px;
    font-style: oblique;
    position: relative;

}

.wrapper ul li ul li{
    height: 50px;
    width: 200px;
    opacity: 90%;
    font-size: 15px;

}

.wrapper ul li ul li:hover{
    height: 50px;
    width: 200px;
    background-color: #ff287f;
    font-size: 20px;

}

.wrapper ul li:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
   
    
}

.wrapper ul li a{
    color: rgb(0, 0, 0);
    direction: none;
    text-decoration: none;
   
}

.wrapper ul li a:hover{
    color: rgb(255, 255, 255);
    direction: none;
    text-decoration: underline;
}

.wrapper ul ul{
    display: none;
}

.wrapper ul li:hover>ul{
    display: block ;
    width: 600px;
    height: 200px;

    
}

.menu-bar{
    margin-left: 50px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-style: inherit;
    font-size: 20px;
    
    color: rgb(59, 2, 2);
    text-decoration: none;
    
}
.log{

    margin-top: 10px;

    margin-left: 620px;
}

.log ul{
    list-style: none;
    font-size: 20px;
    font-style: oblique;

}

.email{
    display: none;
    margin-top: 20px;
    margin-left: 25px;
    width: 250px;
    height: 30px;
    position: absolute;
    background-color: black;
    opacity: 70%;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
}

.password{
    display: none;
    margin-top: 70px;
    margin-left: 25px;
    width: 250px;
    height: 30px;
    position: absolute;
    background-color: black;
    opacity: 70%;
    border: none;
    color: white;
    text-align: center;

}



.log ul li ul li button{
    display: none;
    margin: auto;
    margin-top: 120px;
    margin-left: 100px;
    position: absolute;
    width: 100px;
    height:25px;
    color: rgb(59, 2, 2);
}

.log ul li ul li center a{
    margin: auto;
    margin-top: 100px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: none;
}

.log ul li:hover ul li center a{
    margin-left: 458px;
    margin-top: 155px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
}

.log ul li ul li center a:hover{
    color: #ff287f;
    font-size: 22px;
    margin-left: 456px;
    transition: 1s;
}




.red{
    background-color: tomato;
}
.red1{
    background-color: tomato;
}


.log ul li:hover ul li input{
    display: block;

}

.log ul li:hover ul li button:hover{
    color:  #ff287f;
    transition: 1s;
}

.log ul li:hover ul li button{
    display: block;
    background:linear-gradient(rgb(104, 104, 104),rgb(0, 0, 0));
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    text-shadow:-1px 1px 3px #000000;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 90%;
    color: white;
    
}

.log ul li:hover{
    text-decoration: underline;
    color: white;
}

.log ul li:hover>ul{
    display: block;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left: -120px;
    background-color: white;
    color: white;
    border-radius: 3%;
    background-image: url(images/slider-img/img2.jpg);
    transition: transform(3s);
    background-size: cover;
    box-shadow: -10px 15px 30px rgb(0, 0, 0.9);

    
}



.menu-bar:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline 5px;
    

}




/* icon */

.icon{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;

}

/* end icon */

/* checkbox */
.switch{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 60px;
    margin: 0 10px;
}

.chek-slider{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 950px;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    transition: .4;
    border-radius: 34px;
    width: 60px;
    height: 30px;


}

.switch input{display: none;}

.chek-slider::before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4;
    border-radius: 50px;
}

input:checked + .chek-slider{
    background-color: #ff287f;
}

input:checked + .chek-slider::before{
    transform: translateX(28px);
}
/* end checkbox */
/* contact */
.contacts{
    margin-top: 13px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-style: oblique;
}

.contacts:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.contacts div h1{
  display: none;
}

.contacts:hover>div{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(134, 134, 134);
    display: block;
    margin-left: 320px;    
    margin-top: 5px;
    border-radius: 5px;
    background-image: url(images/patern.jpg);
    background-size: cover;
}
.contacts:hover>div h1{
    display: block;
    font-size: 16px;
    margin-top: 20px;
    
}



/* end header */


/* slider */



.slide{
    width: 80%;
    height: 450px;
    background-color: black;
    display: flex;
    margin: auto;
    

}



.image-slide{
    height: 450px;
    width: 100%;


    
}

.slide-move{

    display: flex;
    width: 100%;
    

}

#nextbtn{
    
    
    z-index: 10;
    font-size: 50px;
    color: black;
    margin-left: 100px;

}

#prevbtn{
    
    
    z-index: 10;
    font-size: 50px;
    color: black;
    margin-right: 50px;
}

#nextbtn:hover{
    color: rgb(0, 59, 148);
}

#prevbtn:hover{
    color: rgb(0, 59, 148);
}

.sld-mover{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 107, 139);
}

.red1{
    background-color: tomato;
}
/* end slider */



.br1{
    height: 500px;
}


/* responsive */


@media only screen and (max-width:768px){
    .image-slide{
        height: 250px;
        width: 100%;
    
    }
    .slide{
        width: 80%;
        height: 250px;
        background-color: black;
        display: flex;
        margin: auto;
    }

    .header{
        width: 100%;
        height: 50px;
        background-color: rgb(78, 43, 110);
        display: flex;
        margin: auto;
    }



    .chek-slider{
        position: absolute;
        cursor: pointer;
        top: 10px;
        left: 550px;
        right: 0;
        bottom: 0;
        background-color: blueviolet;
        transition: .4;
        border-radius: 34px;
        width: 60px;
        height: 30px;
    
    
    }
    .log{

        margin-top: 10px;
        margin-left: 150px;
    }
    .log ul li:hover>ul{
        display: block;
        width: 300px;
        height: 200px;
        margin-top: 10px;
        margin-left: -250px;
        background-color: white;
        color: white;
        border-radius: 3%;
        background-image: url(images/slider-img/img2.jpg);
        transition: transform(3s);
        background-size: cover;
        box-shadow: -10px 15px 30px rgb(0, 0, 0.9);
    
        
    }
    .wrapper ul li:hover>ul{
        display: block ;
        width: 200px;
        height: 250px;
        margin-left: -50px;
        font-size: 10;
        margin-top: -10px;

    }
    .wrapper ul li:hover>ul li{
        display: block ;
        font-size: 10px;
    }
    .wrapper ul li ul li{
        height: 20px;
        width: 200px;
        opacity: 90%;
        font-size: 10px;
    
    }
    .red{
        background-color: tomato;
    }
    .red1{
        background-color: tomato;
    }
    
}

@media only screen and (max-width:375px){
    .image-slide{
        height: 150px;
        width: 100%;
    
    }
    .slide{
        width: 80%;
        height: 150px;
        background-color: black;
        display: flex;
        margin: auto;
    }

    .header{
        width: 100%;
        height: 50px;
        background-color: rgb(78, 43, 110);
        display: flex;
        margin: auto;
    }



    .chek-slider{
        position: absolute;
        cursor: pointer;
        top: 10px;
        left: 550px;
        right: 0;
        bottom: 0;
        background-color: blueviolet;
        transition: .4;
        border-radius: 34px;
        width: 60px;
        height: 30px;
    
    
    }
    .log{

        margin-top: 10px;
        margin-left: 150px;
    }
    .log ul li:hover>ul{
        display: block;
        width: 300px;
        height: 200px;
        margin-top: 10px;
        margin-left: -250px;
        background-color: white;
        color: white;
        border-radius: 3%;
        background-image: url(images/slider-img/img2.jpg);
        transition: transform(3s);
        background-size: cover;
        box-shadow: -10px 15px 30px rgb(0, 0, 0.9);
    
        
    }
    .wrapper ul li:hover>ul{
        display: block ;
        width: 200px;
        height: 250px;
        margin-left: -50px;
        font-size: 10;
        margin-top: -10px;

    }
    .wrapper ul li:hover>ul li{
        display: block ;
        font-size: 10px;
    }
    .wrapper ul li ul li{
        height: 20px;
        width: 200px;
        opacity: 90%;
        font-size: 10px;
    
    }
    .wrapper{
        width: 260px;
        margin-left: 1px;
        text-align: center;
        display: grid 3;
    }
    .wrapper ul li{
        width: 60px;
        height: 40px;
        line-height: 50px;
        text-align: center;
        float: left;
        color: black;
        font-size: 15px;
        font-style: oblique;
        position: relative;
    
    }
    .contacts:hover>div{
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: rgb(134, 134, 134);
        display: block;
        margin-left: 120px;    
        margin-top: 5px;
        border-radius: 5px;
        background-image: url(images/patern.jpg);
        background-size: cover;
    }
    .contacts{
        margin-top: 16px;
        margin-left: 3px;
        text-align: center;
        color: black;
        font-size: 15px;
        font-style: oblique;
    }

    .log{

        margin-top: 50px;
    
        margin-left: -100px;
    }
    
.log ul li:hover>ul{
    display: block;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left: -120px;
    background-color: white;
    color: white;
    border-radius: 3%;
    background-image: url(images/slider-img/img2.jpg);
    transition: transform(3s);
    background-size: cover;
    box-shadow: -10px 15px 30px rgb(0, 0, 0.9);

    
}
.log ul li ul li center a{
    margin-left: -900px;
    margin-top: 100px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: none;
}

.log ul li:hover ul li center a{
    margin-left: -470px;
    margin-top: 155px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
}
.red{
    background-color: tomato;
}
.red1{
    background-color: tomato;
}
.chek-slider{
    position: absolute;
    cursor: pointer;
    top: 50px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    transition: .4;
    border-radius: 34px;
    width: 60px;
    height: 30px;


}

}


























